.nav_color_dark_grid{
background-color:#35383C;
color:#fff;
padding: 8px 15px;
height: 45px;
width: 100vw;
box-shadow: 0px 8px 10px rgba(53, 56, 60, 0.18);
display: grid;
grid-template-columns:  auto auto;
align-items: center;
}




.button_os {
  height: 48px;
  padding: 8px 25px 11px 25px;
  font-size:14px;
  background-color: rgba(238, 238, 238, 0.2);
  color: #eeeeee;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE; 
  cursor: pointer;
  margin: 5px 15px;
}
.Link{
  text-Decoration: none;
}

.nav_menu_links{
  display:inline-block;
  margin-left: auto;
  padding-right: 3rem;

}
  /* display: grid;
grid-template-columns: repeat(auto-fit, minmax(60px, auto));
  grid-template-columns:  repeat(auto-fill, auto ); */
  /* justify-items: end; */

